/* BASE BEGIN */

body {
    background: url('/img/index_bg.jpg') no-repeat fixed center;
}
@font-face {
    font-family: "COC";
    src: url("/fonts/Supercell-Magic_1.ttf");
}
@font-face {
    font-family: "XXIICentarRegular";
    src: url("/fonts/Centar Sans/XXII Centar Regular/Doubletwo Studios - XXIICentarRegular.otf");
}


.banner {
    font-family: "COC", Helvetica, Arial, sans-serif;
    color: #FFD500;
    font-size: 300%;
    padding-top: 30px;
}

.nav>li>a:hover,
.nav li a:focus,
.nav li.dropdown a:focus {
    background-color: #FFD500;
    color: #005BBB;
}

ul.dropdown-menu a:hover {
    background-color: rgba(148, 147, 150, 0.45);
}

.nav li a {
    font-family: "COC", Helvetica, Arial, sans-serif;
    color: #454447;
}

ul.dropdown-menu {
    background: #FFD500;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #454447;
}

main {
    background-color: rgba(238, 237, 240, 0.95);
    padding: 15px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* BASE END */
/* RULES BEGIN */



main.rules {
    font-family: "XXIICentarRegular", Helvetica, Arial, sans-serif;
    font-size: 130%;
}

main.rules h3 {
    font-size: 150%;
}

/* RULES END */
/*CLANLIST BEGIN*/

.list table {
    font-family: "COC", Helvetica, Arial, sans-serif;
    font-size: 80%;
    width: 100%;
}
.list th, .list td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border: 1px solid #8c8c8c;
    color: #333333;
}
.list a {
    display: block;
    color: #333333;
    text-decoration: none;
}

.clanlist th {
    width: 10%;
}

/*CLANLIST END*/
/*BLACKIST BEGIN*/

.blacklist th {
    width: 15%;
}
.blacklist th.reason {
    width: 40%;
}

/*BLACKLIST END*/



