{% extends "base.html" %}

{% block content %}

<main class="add-form">
    <form action="/videos/addVideo" role="form" method="post">
        {% if data.error.field is defined %}
        <div class="warning">
            <p>Поле {{ data.error.field }} заполнено не корректно. {{ data.error.prompt }}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="title">Описание</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ data.title }}">
        </div>
        <div class="form-group">
            <p>Уровень TH:</p>
            <div class="radio">
                <label>
                    <input type="radio" name="townhole" id="townhole8" value="8th"
                           {% if data.townhole starts with '8' %} checked {% endif %}>
                    TH 8
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="townhole" id="townhole9" value="9th"
                           {% if data.townhole starts with '9' %} checked {% endif %}>
                    TH 9
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="townhole" id="townhole10" value="10th"
                           {% if data.townhole starts with '10' %} checked {% endif %}>
                    TH 10
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="townhole" id="townhole11" value="11th"
                           {% if data.townhole starts with '11' %} checked {% endif %}>
                    TH 11
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="link">Загрузите видео на youtube.com и скопируйте ссылку на видео</label>
            <input type="text" class="form-control" name="link" id="link" placeholder="Ссылка" value="{{ data.link }}">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
</main>

{% endblock %}