{% extends "base.html" %}

{% block content %}

<main class="authorization">
    <form action="/users/logIn" role="form" method="post">
        {% if data == 'error' %}
        <div class="warning">
            <p>Ошибка. Вы ввели неверные даные авторизации</p>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="hashtag">Ваш xeштег в игре</label>
            <input type="text" class="form-control" name="hashtag" id="hashtag" placeholder="#HASHTAG">
        </div>
        <div class="form-group">
            <label for="Password">Пароль</label>
            <input type="password" class="form-control" name="password" id="Password" placeholder="Password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Отправить</button>
            <a href="/registration" class="btn btn-warning">Регистрация</a>
        </div>
    </form>
</main>

{% endblock %}