{% extends "base.html" %}

{% block content %}

<main class="list blacklist table-responsive">
    <table class="table-responsive">
        <thead>
        <tr>
            <th>Хештег</th>
            <th>Ник</th>
            <th>Кик/Свалил</th>
            <th>Дата</th>
            <th class="reason">Причина</th>
        </thead>
        <tbody>
        <tr>
            <td>#2P2L9LJQ8</td>
            <td>andrik;)</td>
            <td>Кик</td>
            <td>26.04.2016</td>
            <td>Не проведено 1 атаки на кв</td>
        </tr>
        </tbody>
    </table>
</main>

{% endblock %}