{% extends "base.html" %}

{% block content %}

<main class="list clanlist table-responsive">
    <table class="table-responsive">
        <thead>
        <tr>
            <th rowspan="2">Хештег</th>
            <th rowspan="2">Ник</th>
            <th rowspan="2">Имя</th>
            <th rowspan="2">Звание</th>
            <th colspan="2">Донат за все время</th>
            <th rowspan="2">Коэфициент доната</th>
            <th rowspan="2">Штрафные балы</th>
            <th rowspan="2">Город</th>
            <th rowspan="2">Деятельность</th>
            <!--<th rowspan="2">Телефон</th>-->
            <!--<th rowspan="2">Email</th>-->
        </tr>
        <tr>
            <th>Отдано</th>
            <th>Взято</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>#FFFRGWS</td>
            <td><a href="">Денис</a></td>
            <td>Денис</td>
            <td>Глава</td>
            <td>95500</td>
            <td>85500</td>
            <td>1,235</td>
            <td>0</td>
            <td>Винница</td>
            <td>Сметчик</td>
            <!--<td>+380(96)777 77 77</td>-->
            <!--<td>mishchenko90@list.ru</td>-->
        </tr>
        </tbody>
    </table>
</main>

{% endblock %}