{% extends "base.html" %}

{% block content %}

<main class="plans">
    <a class="btn top-btn" href="#" role="button">Добавить</a>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="https://clashofclans.com/clans/clan?clanTag=CJJQQRY">
                Наш клан на оффсайте
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="http://clashofclansbuilder.com/build?latest=true">
                Редактор баз
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="http://clashofclansbuilder.com/build?latest=true">
                Редактор баз
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="http://clashofclansbuilder.com/build?latest=true">
                Редактор баз
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="http://clashofclansbuilder.com/build?latest=true">
                Редактор баз
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="https://clashofclans.com/clans/clan?clanTag=CJJQQRY">
                Наш клан на оффсайте
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="http://clashofclansbuilder.com/build?latest=true">
                Редактор баз
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="https://clashofclans.com/clans/clan?clanTag=CJJQQRY">
                Наш клан на оффсайте
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="http://clashofclansbuilder.com/build?latest=true">
                Редактор баз
            </a>
        </div>
    </div>

</main>

{% endblock %}