{% extends "base.html" %}

{% block content %}

<main class="plans">
    <h4 class="text-center">Раздел: {{ data.townhole }} ТХ</h4>
    <a class="btn top-btn" href="/plans/add" role="button">Добавить</a>

    {% for plan in data.plans %}
    <div class="plan row">
        <div class="img col-md-4 text-center">
            <a href="/img/plans/{{ plan.planName }}">
                <img src="/img/plans/{{ plan.planName }}" alt="">
            </a>
        </div>
        <div class="desc col-md-8">
            <span class="nick"><a href="/users/one/{{ plan.authorHashtag|trim('#') }}">{{ plan.author }}</a></span><br>
            <span class="text">{{ plan.description }}</span>
        </div>
    </div>
   {% endfor %}

    <div class="text-center">
        <ul class="pagination pagination-sm ">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</main>

{% endblock %}