{% extends "base.html" %}

{% block content %}

<main class="plans">
    <h4 class="text-center">Раздел: 9 ТХ</h4>
    <a class="btn top-btn" href="#" role="button">Добавить</a>
    <div class="plan row">
        <div class="img col-md-4 text-center">
            <a href="http://clash-ru.ru/uploads/posts/2015-05/1430572802_7-2full.jpg">
                <img src="http://clash-ru.ru/uploads/posts/2015-05/1430572802_7-2full.jpg" alt="">
            </a>
        </div>
        <div class="desc col-md-8">
            <span class="nick"><a href="">Dima</a></span><br>
            <span class="text">Чудова база, максимум на 2 беруть</span>
        </div>
    </div>
    <div class="plan row">
        <div class="img col-md-4 text-center">
            <a href="https://games.mail.ru/pre_xl_resize/pic/pc/gallery/e4/45/0133d257.jpeg">
                <img src="https://games.mail.ru/pre_xl_resize/pic/pc/gallery/e4/45/0133d257.jpeg" alt="">
            </a>
        </div>
        <div class="desc col-md-8">
            <span class="nick"><a href="">Vasya</a></span><br>
            <span class="text">Таким образом постоянный количественный рост и сфера нашей активности
                в значительной степени обуславливает создание позиций, занимаемых участниками в
                отношении поставленных задач. </span>
        </div>
    </div>
    <div class="plan row">
        <div class="img col-md-4 text-center">
            <a href="http://clash-ru.ru/uploads/posts/2015-05/1430572802_7-2full.jpg">
                <img src="http://clash-ru.ru/uploads/posts/2015-05/1430572802_7-2full.jpg" alt="">
            </a>
        </div>
        <div class="desc col-md-8">
            <span class="nick"><a href="">Dima</a></span><br>
            <span class="text">Чудова база, максимум на 2 беруть</span>
        </div>
    </div>
    <div class="text-center">
        <ul class="pagination pagination-sm ">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</main>

{% endblock %}