{% extends "base.html" %}

{% block content %}

<main class="profile table-responsive">
    <div class="avatar">
        <img src="/img/users/{{ data.user.avatarName }}" alt="">
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Хештег</th>
            <th>{{ data.user.hashtag|upper }}</th>
        </tr>
        <tr>
            <th>Ник</th>
            <th>{{ data.user.nick }}</th>
        </tr>
        <tr>
            <th>Имя</th>
            <th>{{ data.user.name }}</th>
        </tr>
        <tr>
            <th>Звание</th>
            <th>{{ data.user.rank }}</th>
        </tr>
        <tr>
            <th>Отдано доната</th>
            <th>{{ data.user.given }}</th>
        </tr>
        <tr>
            <th>Взято доната</th>
            <th>{{ data.user.taken }}</th>
        </tr>
        <tr>
            <th>Коэфициент доната</th>
            <th>{{ data.user.ratio|round(3) }}</th>
        </tr>
        <tr>
            <th>Штрафные балы</th>
            <th>{{ data.user.points }}</th>
        </tr>
        <tr>
            <th>День рождения</th>
            <th>{{ data.user.birthday }}</th>
        </tr>
        <tr>
            <th>Город</th>
            <th>{{ data.user.city }}</th>
        </tr>
        <tr>
            <th>Род деятельности</th>
            <th>{{ data.user.occupation }}</th>
        </tr>
        </tbody>
    </table>
    <a href="" class="btn btn-primary change">Изменить</a>
    <a href="" class="btn btn-danger">Удалить профиль</a>
</main>

{% endblock %}