{% extends "base.html" %}

{% block content %}

<main class="profile table-responsive">
    <div class="avatar">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQwO8KuZtUBLqzNY9oDqYoPovSdSDYmcDHef-ICSe6GjwBUVUkR" alt="">
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Хештег</th>
            <th>{{ data.hashtag|upper }}</th>
        </tr>
        <tr>
            <th>Ник</th>
            <th>{{ data.nick }}</th>
        </tr>
        <tr>
            <th>Имя</th>
            <th>{{ data.name }}</th>
        </tr>
        <tr>
            <th>Звание</th>
            <th>{{ data.rank }}</th>
        </tr>
        <tr>
            <th>Отдано доната</th>
            <th>{{ data.given }}</th>
        </tr>
        <tr>
            <th>Взято доната</th>
            <th>{{ data.taken }}</th>
        </tr>
        <tr>
            <th>Коэфициент доната</th>
            <th>{{ data.ratio|round(3) }}</th>
        </tr>
        <tr>
            <th>Штрафные балы</th>
            <th>{{ data.points }}</th>
        </tr>
        <tr>
            <th>День рождения</th>
            <th>{{ data.birthday }}</th>
        </tr>
        <tr>
            <th>Город</th>
            <th>{{ data.city }}</th>
        </tr>
        <tr>
            <th>Деятельность</th>
            <th>{{ data.occupation }}</th>
        </tr>
        </tbody>
    </table>
    <a href="" class="btn btn-primary change">Изменить</a>
    <a href="" class="btn btn-danger">Удалить профиль</a>
</main>

{% endblock %}