{% extends "base.html" %}

{% block content %}

<main class="profile table-responsive">
    <h5>Профиль бойца: Коготь І</h5>
    <div class="avatar">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQwO8KuZtUBLqzNY9oDqYoPovSdSDYmcDHef-ICSe6GjwBUVUkR" alt="">
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Хештег</th>
            <th>#HDHC34</th>
        </tr>
        <tr>
            <th>Ник</th>
            <th>Коготь І</th>
        </tr>
        <tr>
            <th>Имя</th>
            <th>Андрей</th>
        </tr>
        <tr>
            <th>Звание</th>
            <th>Соруководитель</th>
        </tr>
        <tr>
            <th>Отдано доната</th>
            <th>153235</th>
        </tr>
        <tr>
            <th>Взято доната</th>
            <th>13265</th>
        </tr>
        <tr>
            <th>Коэфициент доната</th>
            <th>1,21</th>
        </tr>
        <tr>
            <th>Штрафные балы</th>
            <th>1</th>
        </tr>
        <tr>
            <th>День рождения</th>
            <th>01.01.1985</th>
        </tr>
        <tr>
            <th>Город</th>
            <th>Киев</th>
        </tr>
        <tr>
            <th>Деятельность</th>
            <th>Банкир</th>
        </tr>
        </tbody>
    </table>
    <a href="" class="btn btn-primary change">Изменить</a>
    <a href="" class="btn btn-danger">Удалить профиль</a>
</main>

{% endblock %}