{% extends "base.html" %}

{% block content %}

<main class="registration">
    <form action="/users/adduser" role="form" method="post" enctype="multipart/form-data">
        {% if data.error.field is defined %}
        <div class="warning">
            <p>Поле {{ data.error.field }} заполнено не корректно. {{ data.error.prompt }}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="code">Код доступа</label>
            <input type="password" class="form-control" name="code"
                   id="code" placeholder="XXXXXX"  value="{{ data.code }}">
        </div>
        <div class="form-group">
            <label for="hashtag">Ваш xeштег в игре</label>
            <input type="text" class="form-control" name="hashtag"
                   id="hashtag" placeholder="#HASHTAG" value="{{ data.hashtag }}">
        </div>
        <div class="form-group">
            <label for="nick">Ник в игре</label>
            <input type="text" class="form-control" name="nick"
                   id="nick" placeholder="Nick" value="{{ data.nick }}">
        </div>
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" class="form-control" name="name"
                   id="name" placeholder="Name" value="{{ data.name }}">
        </div>
        <div class="form-group">
            <p>Звание:</p>
            <div class="radio">
                <label>
                    <input type="radio" name="rank" id="rank1" value="Member" {% if data.rank starts with 'M' %} checked {% endif %}>
                    Учасник
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rank" id="rank2" value="Elder" {% if data.rank starts with 'E' %} checked  {% endif %}>
                    Старейшина
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rank" id="rank3" value="Co Leader" {% if data.rank starts with 'C' %} checked {% endif %}>
                    Соруководитель
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="city">Город</label>
            <input type="text" class="form-control" name="city"
                   id="city" placeholder="City"  value="{{ data.city }}">
        </div>
        <div class="form-group">
            <label for="occupation">Род деятельности</label>
            <input type="text" class="form-control" name="occupation"
                   id="occupation" placeholder="Occupation"  value="{{ data.occupation }}">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password"
                   id="password" placeholder="Password" value="{{ data.password }}">
        </div>
        <div class="form-group">
            <label for="password2">Подвердите пароль</label>
            <input type="password" class="form-control" name="password2"
                   id="password2" placeholder="Password" value="{{ data.password2 }}">
        </div>
        <div class="form-group">
            <label for="birthday">День рождения</label>
            <input type="date" class="form-control" name="birthday" id="birthday" value="{{ data.birthday }}">
        </div>
        <div class="form-group">
            <label for="phone">Номер мобильного телефона</label>
            <input type="text" class="form-control" name="phone"
                   id="phone" placeholder="+xx(xxx)xxxxxxx" value="{{ data.phone }}">
            <p class="help-block small-text">
                Телефон виден только главе клана и используется в экстренных случаях
            </p>
        </div>
        <div class="form-group">
            <label for="email">Электронная почта</label>
            <input type="email" class="form-control" name="email"
                   id="email" placeholder="Email"  value="{{ data.email }}">
        </div>
        <div class="form-group">
            <label for="avatar">Добавить аватарку</label>
            <input type="file" id="avatar" name="file">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="readRules" {% if data.readRules %} checked {% endif %}> Я прочитал правила
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Регистрация</button>
            <button type="reset" class="btn btn-danger">Очистить</button>
        </div>
    </form>
</main>

{% endblock %}