{% extends "base.html" %}

{% block content %}

<main class="registration">
    <form action="/users/adduser" role="form" method="post" enctype="multipart/form-data">
        {% if data.field is defined %}
        <div class="warning">
            <p>Поле {{ data.field }} заполнено не корректно. {{ data.prompt }}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="code">Код доступа</label>
            <input type="password" class="form-control" name="code" id="code" placeholder="XXXXXX">
        </div>
        <div class="form-group">
            <label for="hashtag">Ваш xeштег в игре</label>
            <input type="text" class="form-control" name="hashtag" id="hashtag" placeholder="#HASHTAG">
        </div>
        <div class="form-group">
            <label for="nick">Ник в игре</label>
            <input type="text" class="form-control" name="nick" id="nick" placeholder="Nick">
        </div>
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <p>Звание:</p>
            <div class="radio">
                <label>
                    <input type="radio" name="rank" id="rank1" value="Member" checked>
                    Учасник
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rank" id="rank2" value="Elder">
                    Старейшина
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rank" id="rank3" value="Co Leader">
                    Соруководитель
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="city">Город</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="City">
        </div>
        <div class="form-group">
            <label for="occupation">Род занятий</label>
            <input type="text" class="form-control" name="occupation" id="occupation" placeholder="Occupation">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password2">Повторите пароль</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="birthday">День рождения</label>
            <input type="date" class="form-control" name="birthday" id="birthday">
        </div>
        <div class="form-group">
            <label for="phone">Номер мобильного телефона</label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="+xx(xxx)xxxxxxx">
            <p class="help-block small-text">Телефон виден только главе клана и используется в экстренных случаях</p>
        </div>
        <div class="form-group">
            <label for="email">Электронная почта</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="avatar">Добавить аватарку</label>
            <input type="file" id="avatar">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="readRules"> Я прочитал правила
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Регистрация</button>
            <button type="reset" class="btn btn-danger">Очистить</button>
        </div>
    </form>
</main>

{% endblock %}