{% extends "base.html" %}

{% block content %}

<main class="main">
    <h3>Прийом</h3>
    <p>Прийом від міцного 8 ТХ і 300 зірок на кв. Для 10 ТХ від героїв
        30 лвл та 600 зірок на кв</p>
    <p>Всіх новачків відразу відправляємо сюди читати правила.</p>
    <p>Новачків провіряємо в чаті на випробуваннях перед тим як брати на кв.</p>
    <p>При кожному заході в гру кидаєш КВшну базу на випробування щоб
        недостатку баз для бажаючих потренуватись не було.</p>
    <h3>Донат</h3>
    <p>Донатити потрібно не менше 75% того що ти береш. Що неділі перевіряєм
        донат: в кого нижче 75% - понижуєм в званні, а хто простий учасник - кік.</p>
    <h3>Кланова війна</h3>
    <p>КВ починаєм нонстоп у проміжку від 21.00 до 22.00. В кого не виходить воювати
        (чи фабрика заклять на апгрейді, чи герої) - ставте в профілі червоний знак
        по кв, щоб ми вас на кв не брали.</p>
    <p>Вибір противника для нападу. Перша атака на суперника напроти по номеру.
        Друга атака має бути на того на кого вже невдало напали або на той номер
        який оголошено вільним. Після початку кв збираємся і обговорюєм, можуть
        бути коригування стратегії, так що звертаєм увагу на оголошення, можуть
        бути зміни по вибору противника для нападу.</p>
    <p>Якщо видно що суперник навпроти занадто важкий для тебе, то можеш почекати
        коли хтось невдало нападе на свого суперника навпроти і витратити обидві
        атаки на зачистку. В такому випадку обов'язково оголоси що твій суперник
        вільний для нападу (бажано декілька раз в чаті.</p>
    <p>Першу атаку необхідно провести по раніш і не пізніше як за 12 годин до
        закінчення кв. 8ТХ і слабша половтна 9 ТХ першу атаку мають провести в
        перший день. За 12 годин до закінчення кв всі бази стають вільними для
        нападу.</p>
    <p>На другій атаці спочатку чистим косяки де взяли 0 і 1 зірки, потім 8 ТХ
        чистять 8 ТХ, середина добиває низи, а верх середину.</p>
    <p>Друга атака:</p>
    <ul>
        <li>у 8 ТХ не пізніше як за 9 годин до закінчення кв;</li>
        <li>у слабшої половини 9 ТХ не пізніше як за 6 години до закінчення кв;</li>
        <li>у сильнішої половини 9 ТХ не пізніше як за 2 години до закінчення кв;</li>
        <li>10 тх і самі сильні 9 тх не спішіть проводити другу атаку, можливо
            потрібно буде добивати нище а не втрачати зірки на топах.</li>
    </ul>
    <p>Читайте уважно чат перед другою атакою, і попереджайте на кого ви йдете.</p>
    <p>Нападати обов'язково обидва рази. Фарм на кв заборонений.</p>
    <p>Донат на кв: кидайте те що просять в запросах. Ти маєш задонатити тому
        хто під тобою. Якщо в тебе немає відповідного рівня військ або ліміт по
        кількості, ти маєш проконтролювати, щоб йому задонатили. ТИ несеш
        відповідальність, якщо в сусіда знизу не заповнений кк. Якщо за 2
        год до початку кв твій сусід знизу пустий - на наступну кв ти не попадаєш.</p>
    <p>Мат та образа сокланівців заборонені.</p>
    <p>Кікати мають право тільки солідери. Елдери кікають тільки повних неадекватів
        при відсутності онлайн солідерів.</p>
    <p>За порушення правил - пониження, потім кік.</p>
    <p>В заявці на вхід пишеш: "Правила прочитав", скільки років, як звати та з
        якого міста. Тут в групі в обговоренні вказуєш свій нік.</p>
</main>

{% endblock %}