{% extends "base.html" %}

{% block content %}

<main class="topics table-responsive">
    <h4 class="text-center">Раздел: Флуд</h4>
    <table class="tabular border table-responsive centered-th">
        <thead>
        <tr class="title">
            <th>Тема/Автор</th>
            <th>Ответов/Просмотров</th>
            <th>Последний ответ</th>
        </thead>
        <tbody>
        <tr>
            <td>
                <div><a href="#">Як ви відноситесь до рашерів?</a></div>
                <span class="yellow">Коготь</span>
            </td>
            <td>
                <span>5 ответов</span><br>
                <span>35 просмотров</span>
            </td>
            <td>
                <span>2016-05-25 21:59:17</span><br>
                <span>Дима</span>
            </td>
        </tr>
        </tbody>
    </table>
</main>

{% endblock %}