{% extends "base.html" %}

{% block content %}

<main class="video">
    <h4 class="text-center">Раздел: 9 ТХ</h4>
    <div>
        <a class="btn top-btn" href="#" role="button">Добавить</a>
    </div>
    <div class="video-one">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/zEruZvco3Fg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="desc">
            <span class="nick"><a href="">Dima: </a></span>
            <span class="text"> Чудова база, максимум на 2 беруть Чудова база, максимум на 2 беруть
             Чудова база, максимум на 2 беруть Чудова баз</span>
        </div>
    </div>
    <div class="video-one">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/zEruZvco3Fg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="desc">
            <span class="nick"><a href="">Dima: </a></span>
            <span class="text"> Чудова база, максимум на 2 беруть</span>
        </div>
    </div>
    <div class="video-one">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/zEruZvco3Fg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="desc">
            <span class="nick"><a href="">Dima: </a></span>
            <span class="text"> Чудова база, максимум на 2 </span>
        </div>
    </div>
    <div class="video-one">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/zEruZvco3Fg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="desc">
            <span class="nick"><a href="">Dima: </a></span>
            <span class="text"> Чудова база, максимум на 2 беруть</span>
        </div>
    </div>
    <div class="video-one">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//vk.com/video_ext.php?oid=46829706&id=163765699&hash=b3cc9e3c22647d06&hd=2" width="853" height="480" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="desc">
            <span class="nick"><a href="">Dima: </a></span>
            <span class="text"> Чудова база, максимум на 2 беруть</span>
        </div>
    </div>
    <div class="video-one">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/zEruZvco3Fg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="desc">
            <span class="nick"><a href="">Dima: </a></span>
            <span class="text"> Чудова база, максимум на 2 беруть</span>
        </div>
    </div>
    <div class="text-center clearboth">
        <ul class="pagination pagination-sm">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</main>

{% endblock %}